.grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 7rem;
  row-gap: 2rem;
  justify-content: space-between;
}

.card {
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  min-height: 80px;
  min-width: 300px;
}

.card p {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.4;
}

.label {
  font-weight: 600;
  color: #8b8b8b;
  margin-bottom: 0.4rem;
  display: block;
}

p {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.4;
}

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.socials a svg {
  width: 43px;
  height: 43px;
  fill: #282828;
  transition: transform 0.2s;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    justify-content: center;
    column-gap: 0;
  }
}
