.card {
  width: 260px;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}
.card h4 {
  font-size: 1.25rem;
}