.card {
  width: 240px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 1px solid #dddddd;
  text-decoration: none;
}
.card:hover {
  transform: scale(1.05);
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: #f9f9f9;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #0d50ff;
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 2;
}

.addToCart {
  position: absolute;
  width: 90%;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1rem;
  background-color: #0d50ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, background-color 0.2s ease;
  z-index: 2;
}
.card:hover .addToCart {
  opacity: 1;
  visibility: visible;
}
.addToCart:hover {
  background-color: #282828;
}

.addedButton {
  position: absolute;
  width: 90%;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1rem;
  background-color: #fff;
  color: #282828;
  border: 1px solid #282828;
  border-radius: 4px;
  font-weight: bold;
  cursor: default;
  z-index: 2;
}

.info {
  padding: 0.75rem 1rem 1rem;
}

.title {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #282828;
}

.prices {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  color: #282828;
}

.currentPrice {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
}

.originalPrice {
  font-size: 1.25rem;
  font-weight: 500;
  color: #8b8b8b;
  text-decoration: line-through;
}
